# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Understand common libraries used in Data Science
- Identify development tools used for Data Science
- Learn to evaluate basic arithmetic expressions in Python
- Convert units (e.g., minutes to hours)

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60

In [6]:
hours = 200 / 60
hours

3.3333333333333335

## Author
Nishant Kumar